<?xml version="1.0" encoding="UTF-8"?>
<Base>
	<ActiveVersion></ActiveVersion>
	<ActiveVersionPath></ActiveVersionPath>
	<Ahk1Url>https://www.autohotkey.com/download/1.1/</Ahk1Url>
	<Ahk1Version>1.1.32.00</Ahk1Version>
	<Ahk2ExeHandler>0</Ahk2ExeHandler>
	<Ahk2ExePath></Ahk2ExePath>
	<Ahk2Url>https://www.autohotkey.com/download/2.0/</Ahk2Url>
	<Ahk2Version>2.0-a108-a2fa0498</Ahk2Version>
	<AutoUpdateCheck>0</AutoUpdateCheck>
	<BaseFolder></BaseFolder>
	<TextEditorPath>notepad.exe</TextEditorPath>
	<UpdateCheckDate>2020-02-28</UpdateCheckDate>
	<toggle>0</toggle>
</Base>